@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #1D1D1D;
    --card: #F7E7DF;
    --card-foreground: #ffffff;
    --popover: #ffffff;
    --popover-foreground: #020817;
    
    --primary: #FB8654;
    --primary-foreground: #ffffff;
    --secondary: #F57B47;
    --secondary-foreground: #ffffff;

    --radius: 8px;
  }

  * {
    isolation: auto !important;
  }
}

/* Add these styles for the Select popover */
.select-content {
  @apply bg-white border rounded-md shadow-lg;
  z-index: 50;
}

.select-item {
  @apply px-2 py-1.5 text-sm hover:bg-gray-100 cursor-pointer;
}


@layer components {
  .btn-small {
    @apply bg-secondary text-primary-foreground hover:bg-primary inline-flex items-center justify-center rounded-[24px] text-sm font-medium transition-colors  h-9 px-4 py-2 flex-1;
  }
  
  .btn-large {
    @apply bg-secondary hover:bg-primary text-secondary-foreground hover:bg-primary inline-flex items-center justify-center  h-10 px-10 py-4  rounded-[24px] text-2xl font-normal;
  }

  button[type*="combobox"] {
    @apply bg-white;
  } 

  .input-glass {
    @apply w-full p-6 rounded-full border border-white/10 
           bg-white text-black 
           placeholder:text-black/50
           focus:ring-2 focus:ring-primary focus:border-transparent
           focus-visible:outline-none;
    }
} 